.navbar__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__item:first-child {
  margin-right: 3rem;
}

.navbar__link {
  color: var(--main-font-color);
  font-size: 1.5rem;
}
.navbar__link:hover,
.navbar__link:focus {
  color: var(--link-hover-color);
}
